@using MvcOnlineTicariOtomasyon.Models.Siniflar
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = 0;

}

<table class="table table-bordered" style="margin-top:20px;">

    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
     
        <tr>
            @{count++;}
            <td> @count</td>
            <td>@item.CategoryName</td>
            <td><a href="/Category/CategoryDelete/@item.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/CategoryGet/@item.CategoryID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index",new {sayfa }),new PagedListRenderOptions
{
    LiElementClasses=new List<string>
    {"page-link"}
})
<a href="/Category/CategoryAdd/" class="btn btn-primary">Yeni Kategori</a>