@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">

    <tr>
        <th>ID</th>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
      
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DepartmentID</td>
            <td>@item.DepartmentName</td>
            <td><a href="/Department/DepartmentDelete/@item.DepartmentID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Department/DepartmentGet/@item.DepartmentID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Department/DepartmentDetails/@item.DepartmentID" class="btn btn-success" style="background-color:lightcoral">Detaylar</a></td>
        </tr>
    }

</table>
<a href="/Department/DepartmentAdd/" class="btn btn-primary">Yeni Departman</a>