@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<MvcOnlineTicariOtomasyon.Models.CargoTracking>
@{
    ViewBag.Title = "CargoTracking";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Kargo Detay</h2>

<br />
<table class="table table-striped">
    <tr>
        <th>Açıklama</th>
        <th>Tarih</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Description</td>
            <td>@item.Date</td>
        </tr>
    }
</table>
<a href="/Current/NewCurrent/" class="btn btn-success">Yeni Cari Ekle</a>